<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NLP</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#">
        
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1><span class="rectangle">^_^NLP</span></h1>
                <p>Run Natural Language Processing (NLP) on your favorite webpage.</p>
            </div>

            <!-- url input  -->
            <div id="form">
                    <input type="text" placeholder="Enter website URL" id="userInput">
                    <button type="submit" class="btn" id="analyze">Analyze!</button>
            </div>

            <div id="results" class="hidden">
                <div class="info">
                    <div class="heading"></div>
                    <div id="irony"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="score"></div>
                    <div id="agreement"></div>
                </div>
            </div>
        </div>

        <footer id="footer">
            ©2021 Udacity Project
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>