#form {
    min-width: 100%;
    height: 123px;
    background-color: #9A1750;
    display: flex;
    justify-content: center;
    align-items: center;
    
    input {
        min-width: 232px;
    }

    input,
    button {
        height: 58px;
        padding: 20px;
        border-radius: 10px 0px 0px 10px;
        border: none;
    }

    button {
       min-width: 90px; 
       background: #5D001E;
       border-radius: 0px 10px 10px 0px;
       border: none;
       color: #E3E2DF;
       font-weight: 500;
       cursor: pointer;

       &:hover{
           background: #E3E2DF;
           color: #5D001E;
       }
    }
}

@media (min-width: 768px) {
    #form {
        input {
            width: 452px;
        }

        button {
            width: 120px;
        }
    }
}

@media (min-width: 1024px) {
    #form {
        input {
            width: 625px;
        }

        button {
            width: 110px;
        }
    }
}