#header {
    text-align: center;
    height: 40%;
    width: 100%;
    padding-top: 8.5rem;

    h1 {
        margin-bottom: 3.5rem;
    }

    h1,
    p {
        color: #5D001E;
        padding-bottom: 50px;
    }
}

.rectangle {
    width: 375px;
    height: 99px;
    padding: 20px 40px 20px 40px;
    border: 2px solid #5D001E;
    border-radius: 10px;
}

@media (min-width: 768px) {
    
    p {
        font-size: 1.4rem; 
    }
}