#results {
    text-align: center;
    background-color: #5D001E;
    color: #E3E2DF;
    height: 50vh;
    padding-top: 3.5rem;
}

.info {
    color: #E3E2DF; 
    margin: 30px 0px 50px 0px;
    float: left;
    position: relative;
    left: 28%;

    p {
        margin-bottom: 20px;
        text-align: left;
    }
}

.hidden{
    display: none;
}